
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<h2>Transflower Learning Pvt. Ltd.</h2>

<a href="/home/index">Home</a> | <a href="/home/Aboutus">About us </a>| <a href="/home/contact">Contact us</a>| <a href="/employees/index">Employees </a>|<a href="/customers/index">Customers</a>

<hr />

<h3>Doing ordinary things Extra Ordinarily....</h3>