
@{
    ViewBag.Title = "Contact";
}
<h2>Transflower Learning Home</h2>
<hr />
<a href="/home/index">Home</a> | <a href="/home/Aboutus">About us </a>| <a href="/home/contact">Contact us</a>| <a href="/customers/index">Customers</a>
<hr />
<p> Contact Person1: Ravi Tambade</p>
<p> Contact Person2: Shubhangi Tambade</p>
<p> Location: 601, Rama Apartment</p>
<p> Walwekar Nagar</p>
<p> Pune Satara Road</p>
<p> Pune</p>


